@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto Helvetica, Arial, sans-serif
}

body.dark {
  @apply bg-slate-800;
}

@layer components {
  .container {
    @apply w-full px-8 mx-auto max-w-7xl;
  }
}

.imgBannerNabar {
  background-image: url('/images/bgbanner.jpg');
  background-position: center;
  background-size: cover;

}
